<div class="row">
  <div class="col-md-6">
    <p><strong>Name:</strong></p>
    <p><%= @seller.name %></p>
    <br>
    <p><strong>Rating:</strong></p>
    <p><%= @seller.rating %></p>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Seller</th>
      <th>Category</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render @seller.products  %>
  </tbody>
</table>
