<div class="container">
<div class="jumbotron">
  <h1>Ruby on Rails for beginners 2017</h1>
  <p>Web shop demo application</p>
  <p>You can choose from 23 different products. Start shopping now!</p>
</div>
</div>
