<div class="container">
  <div class="row">
  <div class="col-md-12">
    <div class="ravnanje-categories">

      <h1>Category <%= link_to 'Create new', new_category_path, class:'btn btn-primary'%></h1>
      <%= count_for @categories, 'Number of clothes departments:' %>
      <br>
  </div>
      <% unless flash[:notice].blank? %>
        <div class="alert alert-success">
          <p><%= flash[:notice] %></p>
        </div>
      <% end %>

  <h3 class="naslovni-categories">Categories</h3>
  </div>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <%= render @categories %>
      </tbody>
    </table>

  </div>
  </div>
