<div class="row">
  <div class="col-md-6">
    <p><strong>Name:</strong></p>
    <p><%= @category.name %></p>
    <br>
    <p><strong>Description:</strong></p>
    <p><%= @category.description %></p>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Seller</th>
      <th>Category</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render @products %>
  </tbody>
</table>
