<div class="products-picture">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="ravnanje">
          <h1>Products <%= link_to 'Create new', new_product_path, class: 'btn btn-primary' %></h1>
          <%= count_for @products, 'Products left in the store:' %>
          <br>
        </div>
        <% unless flash[:notice].blank? %>
        <div class="alert alert-success">
          <p><%= flash[:notice] %></p>
        </div>
        <% end %>

        <div id="product-alerts"></div>

        <h3 class="naslovni-tekst">Product details</h3>
      </div>

      <table class="table table-bordered jumbotron">
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Seller</th>
            <th>Category</th>
            <th>Created at</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <%= render @products %>
        </tbody>
      </table>
    </div>
  </div>
</div>
